.navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    max-height: max-content;
    width: 100%;
  }

.n-1{
    background-color: #202020;
}

.n-2{
    background-color: #202020;
}

.n-2 button{
    background-color: #202020;
    color: grey;
    border:none;
}

.n-2 input{
    background-color: #181818;
    border-style: solid;
    border-color: grey;
    height: 25px;
    width: auto;
    
}
.n-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}
.n-3 img{
    margin: 10px;

}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}

.main-container{
    min-height: 1000px;
    display: grid;
    gap: 10px;
    margin-top: 80px;
    margin-left: 100px;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 4fr 4fr 1fr 1fr;
    grid-template-areas: 
        "video recomendation"
        "video recomendation"
        "stats recomendation"
        "info  recomendation"

}

.video-container{
    background-color: aqua;
    grid-area: video;

}

.video-container iframe{
    border: none;
    height: 100%;
    width: 100%;
}

.video-stats{
    display: flex;
    justify-content: space-between;
    grid-area: stats;
    color:gray;

}

.video-stats .general{
    color:white;
}

.video-stats .social{
    margin-top: 50px;
    display:flex;
    flex-direction: row;
}

.video-stats .social p{
    padding-left: 10px;
}

.video-info{
    grid-area: info;
}

.recomendation-container{
    display: grid;
    height: max-content;
    gap: 20px;
    grid-area: recomendation;
}

.recomendation-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.recomendation-content img{
    align-self: center;
}

.recomendation-content .info{
    font-size: small;
    color:white;
}

.video-info .top{
    display:flex;
    justify-content: space-between;
}

.top-2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    color:grey;
}

.top-2 img{
    align-self: center;
    justify-self: left;
}

.data{
    height: 50px;
    align-self: center;
    font-size: medium;
    padding-bottom: 50px;
}

.subscribe-b{
    font-size: large;
    color:white;
    background-color: red;
    border-radius: 10%;
    border:none;
    max-height: 50px;
}
 body{
     background: #181818;
 }

 