.navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    max-height: 50px;
    width: 100%;
  }

.n-1{
    background-color: wheat;
    align-items: stretch;
    
}

.n-2{
    background-color: pink;
}

.n-3{
    background-color: yellow;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-container{
    min-height: 1000px;
    padding:40px;
    display: grid;
    gap: 10px;
    grid-template-columns: 4fr 1fr ;
    grid-template-rows: 4fr 4fr 1fr 1fr;
    grid-template-areas: 
        "video recomendation"
        "video recomendation"
        "stats recomendation"
        "info  recomendation"

}

.video-container{
    background-color: aqua;
    grid-area: video;

}

.video-stats{
    background-color:azure;
    grid-area: stats;
}

.video-info{
    background-color: blueviolet;
    grid-area: info;
}

.recomendation-container{
    background-color: tomato;
    grid-area: recomendation;

}

 body{
     background-color: black;
 }

 